<!doctype html>
<html>
    <head>
        <title>Delete User</title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>
    <body>
        <h1>Delete User</h1>
        <form action="/listusers" method="GET">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <button type="submit">Delete User</button>
        </form>
    </body>
</html>